<form #c="ngForm"(ngSubmit)="convert(c.value)">
    <select   id="fromCurrency" name="fromm" ngModel>
        <option id="USD" value=1.126735>USD</option>
        <option id="GBP"value=0.876893>GBP</option>
        <option id="INR" value=79.677056>INR</option>
      </select>
     
      <br/>
      <br/>
     
      
    <select   id="toCurrency" name="to" ngModel>
        <option id="USD" value=1.126735>USD</option>
        <option id="GBP"value=0.876893>GBP</option>
        <option id="INR" value=79.677056>INR</option>
    </select><br/><br/>
     
    <input type="number" id="amount"  name="amountt" ngModel/>
      <br/><br/>
    
     
    <button  id="submitButton" >SUBMIT</button><br/><br/>
    
    <!--<p id="resValue" name="resValue" ngModel>
      
    </p>-->
    <input id="resValue" name="res" [(ngModel)]="res"/>
    
    </form>
    